In [72]:
import pandas as pd
import csv

# Modify dataframes and Useful Functions
* Calculate with columns
* Create new columns
* Drop columns
* Min, max, argmin, and argmax
* mean

In [73]:
data=pd.read_csv("SOL-USD.csv",index_col="Date",parse_dates=True)

In [74]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825
...,...,...,...,...,...,...
2022-10-12,30.779692,31.460230,30.729170,31.165485,31.165485,490127096
2022-10-13,31.164413,31.181086,28.197371,30.544519,30.544519,1302451856
2022-10-14,30.542488,31.909657,29.759932,30.007418,30.007418,836283411
2022-10-15,30.006132,30.151255,29.534006,29.575348,29.575348,547825492
2022-10-16,29.633522,29.995785,29.633522,29.897142,29.897142,569585408

In [75]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825

In [76]:
data['Daily change']=data['Close']-data['Open']

In [77]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily change
Date,,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795,-5.468216
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138,2.280243
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759,-2.766205
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548,-1.193176
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825,20.063477

In [78]:
data

,Open,High,Low,Close,Adj Close,Volume,Daily change
Date,,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795,-5.468216
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138,2.280243
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759,-2.766205
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548,-1.193176
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825,20.063477
...,...,...,...,...,...,...,...
2022-10-12,30.779692,31.460230,30.729170,31.165485,31.165485,490127096,0.385793
2022-10-13,31.164413,31.181086,28.197371,30.544519,30.544519,1302451856,-0.619894
2022-10-14,30.542488,31.909657,29.759932,30.007418,30.007418,836283411,-0.535070
2022-10-15,30.006132,30.151255,29.534006,29.575348,29.575348,547825492,-0.430784
2022-10-16,29.633522,29.995785,29.633522,29.897142,29.897142,569585408,0.263620

In [79]:
data['Normalized']=data['Close']/data['Close'].iloc[0]

In [80]:
data

,Open,High,Low,Close,Adj Close,Volume,Daily change,Normalized
Date,,,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795,-5.468216,1.000000
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138,2.280243,1.013996
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759,-2.766205,0.998048
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548,-1.193176,0.990340
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825,20.063477,1.116848
...,...,...,...,...,...,...,...,...
2022-10-12,30.779692,31.460230,30.729170,31.165485,31.165485,490127096,0.385793,0.197827
2022-10-13,31.164413,31.181086,28.197371,30.544519,30.544519,1302451856,-0.619894,0.193886
2022-10-14,30.542488,31.909657,29.759932,30.007418,30.007418,836283411,-0.535070,0.190476
2022-10-15,30.006132,30.151255,29.534006,29.575348,29.575348,547825492,-0.430784,0.187734
2022-10-16,29.633522,29.995785,29.633522,29.897142,29.897142,569585408,0.263620,0.189776

In [81]:
data.tail()

,Open,High,Low,Close,Adj Close,Volume,Daily change,Normalized
Date,,,,,,,,
2022-10-12,30.779692,31.460230,30.729170,31.165485,31.165485,490127096,0.385793,0.197827
2022-10-13,31.164413,31.181086,28.197371,30.544519,30.544519,1302451856,-0.619894,0.193886
2022-10-14,30.542488,31.909657,29.759932,30.007418,30.007418,836283411,-0.535070,0.190476
2022-10-15,30.006132,30.151255,29.534006,29.575348,29.575348,547825492,-0.430784,0.187734
2022-10-16,29.633522,29.995785,29.633522,29.897142,29.897142,569585408,0.263620,0.189776

In [82]:
data['Close'].min()

28.192362

In [83]:
data['Close'].max()

258.934326

In [84]:
data.min()

Open            2.818290e+01
High            2.999579e+01
Low             2.606032e+01
Close           2.819236e+01
Adj Close       2.819236e+01
Volume          3.145318e+08
Daily change   -2.338817e+01
Normalized      1.789550e-01
dtype: float64

In [85]:
data.max()

Open            2.587816e+02
High            2.600621e+02
Low             2.461224e+02
Close           2.589343e+02
Adj Close       2.589343e+02
Volume          7.486821e+09
Daily change    2.244157e+01
Normalized      1.643622e+00
dtype: float64

In [86]:
data['Close'].max()

258.934326

In [87]:
data['Open'].max()

258.781555

In [88]:
data['Open'].min()

28.182896

In [89]:
data['Close'].min()

28.192362

In [90]:
data['Close'].argmin()

240

In [91]:
data.iloc[39]

Open            2.218606e+02
High            2.224593e+02
Low             2.005026e+02
Close           2.149215e+02
Adj Close       2.149215e+02
Volume          2.293934e+09
Daily change   -6.939072e+00
Normalized      1.364245e+00
Name: 2021-11-24 00:00:00, dtype: float64

In [92]:
data['daily_percentage_change']=(data['Close']-data['Open'])/data['Open']*100

In [93]:
data

,Open,High,Low,Close,Adj Close,Volume,Daily change,Normalized,daily_percentage_change
Date,,,,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795,-5.468216,1.000000,-3.354589
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138,2.280243,1.013996,1.448108
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759,-2.766205,0.998048,-1.728905
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548,-1.193176,0.990340,-0.758969
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825,20.063477,1.116848,12.870824
...,...,...,...,...,...,...,...,...,...
2022-10-12,30.779692,31.460230,30.729170,31.165485,31.165485,490127096,0.385793,0.197827,1.253401
2022-10-13,31.164413,31.181086,28.197371,30.544519,30.544519,1302451856,-0.619894,0.193886,-1.989109
2022-10-14,30.542488,31.909657,29.759932,30.007418,30.007418,836283411,-0.535070,0.190476,-1.751887
2022-10-15,30.006132,30.151255,29.534006,29.575348,29.575348,547825492,-0.430784,0.187734,-1.435653
2022-10-16,29.633522,29.995785,29.633522,29.897142,29.897142,569585408,0.263620,0.189776,0.889601

In [94]:
data['Normalized'].min()

0.17895501793088228

In [95]:
data['Close'].max()

258.934326

In [96]:
data['Close'].argmax()

21

In [97]:
data.iloc[251:]

,Open,High,Low,Close,Adj Close,Volume,Daily change,Normalized,daily_percentage_change
Date,,,,,,,,,
2022-06-24,38.201443,42.729317,37.852936,42.212048,42.212048,1765927064,4.010605,0.267947,10.498569
2022-06-25,42.202999,42.490692,39.875328,42.332813,42.332813,1271293523,0.129814,0.268714,0.307594
2022-06-26,42.302418,42.341324,39.384304,39.408089,39.408089,1138724690,-2.894329,0.250148,-6.841994
2022-06-27,39.409088,41.082157,38.170925,38.451252,38.451252,1253389517,-0.957836,0.244075,-2.430495
2022-06-28,38.445427,39.705933,35.229137,35.326439,35.326439,1361946847,-3.118988,0.224240,-8.112767
...,...,...,...,...,...,...,...,...,...
2022-10-12,30.779692,31.460230,30.729170,31.165485,31.165485,490127096,0.385793,0.197827,1.253401
2022-10-13,31.164413,31.181086,28.197371,30.544519,30.544519,1302451856,-0.619894,0.193886,-1.989109
2022-10-14,30.542488,31.909657,29.759932,30.007418,30.007418,836283411,-0.535070,0.190476,-1.751887
2022-10-15,30.006132,30.151255,29.534006,29.575348,29.575348,547825492,-0.430784,0.187734,-1.435653
2022-10-16,29.633522,29.995785,29.633522,29.897142,29.897142,569585408,0.263620,0.189776,0.889601

In [98]:
data['Close'].mean()

96.10561597267765

In [99]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Daily change,Normalized,daily_percentage_change
Date,,,,,,,,,
2021-10-16,163.007034,164.713715,156.737564,157.538818,157.538818,1531502795,-5.468216,1.000000,-3.354589
2021-10-17,157.463562,167.425995,154.090347,159.743805,159.743805,2168838138,2.280243,1.013996,1.448108
2021-10-18,159.997482,162.856277,155.030228,157.231277,157.231277,1698878759,-2.766205,0.998048,-1.728905
2021-10-19,157.210205,159.405869,153.221008,156.017029,156.017029,1400902548,-1.193176,0.990340,-0.758969
2021-10-20,155.883392,176.440674,155.199844,175.946869,175.946869,3315306825,20.063477,1.116848,12.870824

In [100]:
data.drop(labels=['Low'],axis=1,inplace=True)

In [101]:
data

,Open,High,Close,Adj Close,Volume,Daily change,Normalized,daily_percentage_change
Date,,,,,,,,
2021-10-16,163.007034,164.713715,157.538818,157.538818,1531502795,-5.468216,1.000000,-3.354589
2021-10-17,157.463562,167.425995,159.743805,159.743805,2168838138,2.280243,1.013996,1.448108
2021-10-18,159.997482,162.856277,157.231277,157.231277,1698878759,-2.766205,0.998048,-1.728905
2021-10-19,157.210205,159.405869,156.017029,156.017029,1400902548,-1.193176,0.990340,-0.758969
2021-10-20,155.883392,176.440674,175.946869,175.946869,3315306825,20.063477,1.116848,12.870824
...,...,...,...,...,...,...,...,...
2022-10-12,30.779692,31.460230,31.165485,31.165485,490127096,0.385793,0.197827,1.253401
2022-10-13,31.164413,31.181086,30.544519,30.544519,1302451856,-0.619894,0.193886,-1.989109
2022-10-14,30.542488,31.909657,30.007418,30.007418,836283411,-0.535070,0.190476,-1.751887
2022-10-15,30.006132,30.151255,29.575348,29.575348,547825492,-0.430784,0.187734,-1.435653
2022-10-16,29.633522,29.995785,29.897142,29.897142,569585408,0.263620,0.189776,0.889601

In [102]:
data['Close'].max()

258.934326