In [1]:
import pandas as pd

# Introduction to Pandas
* Read data as CSV
* Understand the data types
* Set index
* Parse dates
* use index with loc
* Use indexing ith iloc

In [2]:
import csv

In [9]:
data=pd.read_csv("AAPL.csv", index_col='Date',parse_dates=True)

In [10]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-18,143.449997,146.839996,143.160004,146.550003,145.733383,85589200
2021-10-19,147.009995,149.169998,146.550003,148.759995,147.931061,76378900
2021-10-20,148.699997,149.750000,148.119995,149.259995,148.428268,58418800
2021-10-21,148.809998,149.639999,147.869995,149.479996,148.647049,61421000
2021-10-22,149.690002,150.179993,148.639999,148.690002,147.861450,58883400
...,...,...,...,...,...,...
2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74899000
2022-10-11,139.899994,141.350006,138.220001,138.979996,138.979996,77033700
2022-10-12,139.130005,140.360001,138.160004,138.339996,138.339996,70433700
2022-10-13,134.990005,143.589996,134.369995,142.990005,142.990005,113224000
2022-10-14,144.309998,144.520004,138.190002,138.380005,138.380005,88512300

In [11]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [12]:
data.index

DatetimeIndex(['2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
               '2021-10-22', '2021-10-25', '2021-10-26', '2021-10-27',
               '2021-10-28', '2021-10-29',
               ...
               '2022-10-03', '2022-10-04', '2022-10-05', '2022-10-06',
               '2022-10-07', '2022-10-10', '2022-10-11', '2022-10-12',
               '2022-10-13', '2022-10-14'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [13]:
data.loc['2021-10-18']

Open         1.434500e+02
High         1.468400e+02
Low          1.431600e+02
Close        1.465500e+02
Adj Close    1.457334e+02
Volume       8.558920e+07
Name: 2021-10-18 00:00:00, dtype: float64

In [14]:
data.loc['2021-01-18':]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-18,143.449997,146.839996,143.160004,146.550003,145.733383,85589200
2021-10-19,147.009995,149.169998,146.550003,148.759995,147.931061,76378900
2021-10-20,148.699997,149.750000,148.119995,149.259995,148.428268,58418800
2021-10-21,148.809998,149.639999,147.869995,149.479996,148.647049,61421000
2021-10-22,149.690002,150.179993,148.639999,148.690002,147.861450,58883400
...,...,...,...,...,...,...
2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74899000
2022-10-11,139.899994,141.350006,138.220001,138.979996,138.979996,77033700
2022-10-12,139.130005,140.360001,138.160004,138.339996,138.339996,70433700
2022-10-13,134.990005,143.589996,134.369995,142.990005,142.990005,113224000
2022-10-14,144.309998,144.520004,138.190002,138.380005,138.380005,88512300

In [19]:
data.loc['2022-06-01':'2022-08-01']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-06-01,149.899994,151.740005,147.679993,148.710007,148.503723,74286600
2022-06-02,147.830002,151.270004,146.860001,151.210007,151.000259,72348100
2022-06-03,146.899994,147.970001,144.460007,145.380005,145.178345,88570300
2022-06-06,147.029999,148.570007,144.899994,146.139999,145.937286,71598400
2022-06-07,144.350006,149.000000,144.100006,148.710007,148.503723,67808200
2022-06-08,148.580002,149.869995,147.460007,147.960007,147.754776,53950200
2022-06-09,147.080002,147.949997,142.529999,142.639999,142.442139,69473000
2022-06-10,140.279999,140.759995,137.059998,137.130005,136.939789,91437900
2022-06-13,132.869995,135.199997,131.440002,131.880005,131.697067,122207100
2022-06-14,133.130005,133.889999,131.479996,132.759995,132.575836,84784300
2022-06-15,134.289993,137.339996,132.160004,135.429993,135.242142,91533000
2022-06-16,132.080002,132.389999,129.039993,130.059998,129.879593,108123900
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.377502,134520300
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.681534,81000500
2022-06-22,134.789993,137.759995,133.910004,135.350006,135.162262,73409200
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.078201,72433800
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.463501,89116800
2022-06-27,142.699997,143.490005,140.970001,141.660004,141.463501,70207900
2022-06-28,142.130005,143.419998,137.320007,137.440002,137.249359,67083400
2022-06-29,137.460007,140.669998,136.669998,139.229996,139.036865,66242400
2022-06-30,137.250000,138.369995,133.770004,136.720001,136.530350,98964500
2022-07-01,136.039993,139.039993,135.660004,138.929993,138.737274,71051600
2022-07-05,137.770004,141.610001,136.929993,141.559998,141.363632,73353800
2022-07-06,141.350006,144.119995,141.080002,142.919998,142.721756,74064300
2022-07-07,143.289993,146.550003,143.279999,146.350006,146.147003,66253700
2022-07-08,145.259995,147.550003,145.000000,147.039993,146.836029,64547800
2022-07-11,145.669998,146.639999,143.779999,144.869995,144.669037,63141600
2022-07-12,145.759995,148.449997,145.050003,145.860001,145.657669,77588800
2022-07-13,142.990005,146.449997,142.119995,145.490005,145.288193,71185600
2022-07-14,144.080002,148.949997,143.250000,148.470001,148.264053,78140700
2022-07-15,149.779999,150.860001,148.199997,150.169998,149.961700,76259900
2022-07-18,150.740005,151.570007,146.699997,147.070007,146.865997,81420900
2022-07-19,147.919998,151.229996,146.910004,151.000000,150.790543,82982400
2022-07-20,151.119995,153.720001,150.369995,153.039993,152.827713,64823400
2022-07-21,154.500000,155.570007,151.940002,155.350006,155.134521,65086600
2022-07-22,155.389999,156.279999,153.410004,154.089996,153.876251,66675400
2022-07-25,154.009995,155.039993,152.279999,152.949997,152.737839,53623900
2022-07-26,152.259995,153.089996,150.800003,151.600006,151.389725,55138700
2022-07-27,152.580002,157.330002,152.160004,156.789993,156.572510,78620700
2022-07-28,156.979996,157.639999,154.410004,157.350006,157.131744,81378700
2022-07-29,161.240005,163.630005,159.500000,162.509995,162.284576,101786900
2022-08-01,161.009995,163.589996,160.889999,161.509995,161.285965,67829400

In [20]:
data.iloc[0]

Open         1.434500e+02
High         1.468400e+02
Low          1.431600e+02
Close        1.465500e+02
Adj Close    1.457334e+02
Volume       8.558920e+07
Name: 2021-10-18 00:00:00, dtype: float64

In [21]:
data.loc['2021-10-18']

Open         1.434500e+02
High         1.468400e+02
Low          1.431600e+02
Close        1.465500e+02
Adj Close    1.457334e+02
Volume       8.558920e+07
Name: 2021-10-18 00:00:00, dtype: float64

In [23]:
data.iloc[-1] #index from the end

Open         1.443100e+02
High         1.445200e+02
Low          1.381900e+02
Close        1.383800e+02
Adj Close    1.383800e+02
Volume       8.851230e+07
Name: 2022-10-14 00:00:00, dtype: float64