# Series
* use type to get data types
* Each column is a series
* series show data types (dtype)
* Calculate with series
- daily change
- daily oercentage change
- noralize data
* similar to excel
* indexing with series

In [1]:
import pandas as pd
import csv

In [10]:
data=pd.read_csv("AAPL.csv",index_col='Date',parse_dates=True)

In [11]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-18,143.449997,146.839996,143.160004,146.550003,145.733383,85589200
2021-10-19,147.009995,149.169998,146.550003,148.759995,147.931061,76378900
2021-10-20,148.699997,149.750000,148.119995,149.259995,148.428268,58418800
2021-10-21,148.809998,149.639999,147.869995,149.479996,148.647049,61421000
2021-10-22,149.690002,150.179993,148.639999,148.690002,147.861450,58883400
...,...,...,...,...,...,...
2022-10-10,140.419998,141.889999,138.570007,140.419998,140.419998,74899000
2022-10-11,139.899994,141.350006,138.220001,138.979996,138.979996,77033700
2022-10-12,139.130005,140.360001,138.160004,138.339996,138.339996,70433700
2022-10-13,134.990005,143.589996,134.369995,142.990005,142.990005,113224000
2022-10-14,144.309998,144.520004,138.190002,138.380005,138.380005,88512300

In [14]:
type(data)

pandas.core.frame.DataFrame

In [17]:
type(data['Close'])

pandas.core.series.Series

In [18]:
data['Close']

Date
2021-10-18    146.550003
2021-10-19    148.759995
2021-10-20    149.259995
2021-10-21    149.479996
2021-10-22    148.690002
                 ...
2022-10-10    140.419998
2022-10-11    138.979996
2022-10-12    138.339996
2022-10-13    142.990005
2022-10-14    138.380005
Name: Close, Length: 251, dtype: float64

In [21]:
type(data['Close']) #can be the type is series

pandas.core.series.Series

In [22]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

Python optimizes calculations

In [23]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-18,143.449997,146.839996,143.160004,146.550003,145.733383,85589200
2021-10-19,147.009995,149.169998,146.550003,148.759995,147.931061,76378900
2021-10-20,148.699997,149.750000,148.119995,149.259995,148.428268,58418800
2021-10-21,148.809998,149.639999,147.869995,149.479996,148.647049,61421000
2021-10-22,149.690002,150.179993,148.639999,148.690002,147.861450,58883400

In [27]:
daily_change=data['Open']-data['Close']

In [28]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-10-18,143.449997,146.839996,143.160004,146.550003,145.733383,85589200
2021-10-19,147.009995,149.169998,146.550003,148.759995,147.931061,76378900
2021-10-20,148.699997,149.750000,148.119995,149.259995,148.428268,58418800
2021-10-21,148.809998,149.639999,147.869995,149.479996,148.647049,61421000
2021-10-22,149.690002,150.179993,148.639999,148.690002,147.861450,58883400

In [29]:
daily_change

Date
2021-10-18   -3.100006
2021-10-19   -1.750000
2021-10-20   -0.559998
2021-10-21   -0.669998
2021-10-22    1.000000
                ...
2022-10-10    0.000000
2022-10-11    0.919998
2022-10-12    0.790009
2022-10-13   -8.000000
2022-10-14    5.929993
Length: 251, dtype: float64

In [31]:
type(daily_change)

pandas.core.series.Series

In [32]:
daily_percentage_change=(data['Close']-data['Open'])/data['Open']*100

In [34]:
daily_percentage_change

Date
2021-10-18    2.161036
2021-10-19    1.190395
2021-10-20    0.376596
2021-10-21    0.450237
2021-10-22   -0.668047
                ...
2022-10-10    0.000000
2022-10-11   -0.657611
2022-10-12   -0.567821
2022-10-13    5.926365
2022-10-14   -4.109205
Length: 251, dtype: float64

In [35]:
data['Close'].iloc[0]

146.550003

In [38]:
data['Close'].iloc[-1]

138.380005

In [39]:
norm=data['Close']/data['Close'].iloc[0]

In [40]:
norm

Date
2021-10-18    1.000000
2021-10-19    1.015080
2021-10-20    1.018492
2021-10-21    1.019993
2021-10-22    1.014603
                ...
2022-10-10    0.958171
2022-10-11    0.948345
2022-10-12    0.943978
2022-10-13    0.975708
2022-10-14    0.944251
Name: Close, Length: 251, dtype: float64

In [42]:
data['Close'].iloc[0]*norm.iloc[-1]

138.380005

In [43]:
data['Close'].iloc[-1]

138.380005